:root {
  --black: #070f18;
  --white: #f5f6fb;
  --blue: #207dff;
  --orange: #f06157;
  --gray: #575455;
}

/* * {
  margin: 0;
  padding: 0;
}   */

/* DESIGN SYSTEM */
body {
  font-family: "Poppins", serif;
  background-color: var(--white);
  height: 1950px;
}

main {
  margin-right: 120px;
  margin-left: 120px;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
}

h2 {
  color: var(--black);
  /* text-align: center; */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  color: #070F18;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: var(--gray);
}

.text-orange {
  color: #f75c4e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* MAIN */

/* NAVBAR */
#home {
  font-weight: bold;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
  text-decoration: none;
}

.navigasi-container ul {
  display: flex;
  list-style-type: none;
  gap: 59px;
  text-decoration: none;
}

.navigasi-container ul li a {
  color: var(--black);
  gap: 59px;
  text-decoration: none;
}

.button-sign-in {
  background-color: #efefef;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 48px;
  padding: 12px 0;
}

.button-sign-in:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

/* HERO */
.hero-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

.judul-deskripsi-button-hero-wrapper {
  margin-top: 40px;
  width: 500px;
  height: 166px;
}

.hero-image {
  width: 600px;
  flex-shrink: 0;
  margin-left: 75px;
  margin-top: 90px;
}

.button-get-started {
  width: 180px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--blue);
  border: none;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Poppins;
}

.button-get-started:hover {
  background-color: var(--white);
  transition: 0.2s ease;
  border: solid var(--blue) 1px;
  color: var(--blue);
}

.text-gray.hero {
  margin-top: -20px;
  margin-bottom: 30px;
}

/* G50pxLOBAL COMPANIES */
.global-companies-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
  margin-bottom: 140px;
}

.container-judul-global-companies .trusted-by {
  margin-bottom: -20px;
}

.container-judul-global-companies {
  margin-top: -10px;
}

.container-logo-global-companies img {
  height: 30px;
  margin: 20px;
}

/* WORK BETTER */
.work-better-for-your-business-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-bottom: 70px;
}

.work-better-for-your-business-wrapper h2 {
  text-align: center;
  margin-top: -20px;
}
.work-better-for-your-business-wrapper p {
  margin-top: -10px;
  color: #575455;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.text-orange.work-better{
  text-align: center;
}


/* CARDS */
.kumpulan-card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.penjelasan-card{
  margin-top: -20px;
  margin-left: 8px;
}

.penjelasan-card p{
  margin-top: -12px;
}

.card-baris-1-wrapper{
  display: flex;
  margin-bottom: 20px;
  gap: 100px;
}

.card-baris-2-wrapper{
  display: flex;
  justify-content: center;
  gap: 125px;
}

.card{
  display: flex;  
  gap: 20px;
}

.card img{
  width: 60px;
}

/* FOOTER */
.footer-wrapper{
  display: flex;
  margin-top: 100px;
}

.image-footer-wrapper img{
  width: 500px;
}

.deskripsi-footer-get-started-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.deskripsi-footer-get-started-wrapper h2{
  margin-top: -15px;
  margin-bottom: 10px;
}

.deskripsi-footer-get-started-wrapper p{
  margin-bottom: 40px;
}

.deskripsi-footer{
  margin-top: 50px;
  justify-content: start;
  text-align: left;
}

.text-orange .footer{
  color: #f75c4e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.email-getstarted-wrapper{
  display: flex;
  gap: 20px;
}

.email-input{
  width: 100%;
  background: #efefef;
  padding: 0px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #6b7280; /* Subtle gray */
}